<nav class="navbar navbar-dark bg-dark wine fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-title">E-Concilia | Concliador de Operações</span>

        <div class="navbar-menu hidden">
            <div class="navbar-menu-title">
                <span>E-CONCILIA</span>
            </div>
            <div class="navbar-divisor"></div>

        </div>
    </div>
</nav>

